body {
	font-family: Arial, Helvetica, sans-serif;
}

.flexVert {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexHoriz {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.maxWidth {
	width: 900px;
}


.timelineDate {
	width: 150px;
	margin-left: 2em;
}
.timelineItem {
	
}


#topBar {
	flex: 1 1 50px;
	align-items: stretch;
	justify-content: flex-start;
	background-color: #2B2B2B;
}

article {
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 100%
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B2B2B;
    color: #D5D5D5;
	flex: 0 0 100px;
	width: 100%;
}